/* ***************** */
/* Base Template CSS */
/* ***************** */

* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Playfair Display', serif;
    background: #F2F2F7;
    color: #444;
}

ol, ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column
}
li {
    display: grid;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: four;
    grid-row-start: row1-start;
    grid-row-end: last-line;
    padding-bottom: 1rem;
}
h1 {
    font-weight: bold;
}
p {
    line-height: 1.6em;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0;
}
p:last-child {
    margin-bottom: 40px;
}

a {
    font-weight: bold;
    text-decoration: underline;
    transition: all 200ms;
}
a:hover, a:focus {
    color: #FCAF38;
}
article {

    margin-bottom: 50px;
}
article .margin {
    margin-bottom: 100vh;
}
nav {
    display: grid;
    grid-column-start: auto;
    grid-column-end: auto;
    background: #50A3A4;
    padding: 30px;
}
nav a {
    display: inline-flex;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
nav a:hover, nav a:focus {
    color: #FCAF38;
}
nav a.active {
    color: #FCAF38;
}
header {
    font-size: 2rem;
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    background: #50A3A4;
    padding: 30px;
}
/* *************************************************************** */
/* Additional Homepage CSS */
/* *************************************************************** */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.wrapper {
    margin-bottom: 30px;
}
.column {
    float: left;
    padding: 5px;
}
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
}

.rightarrow {
    transform: rotate(180deg);
}
/* ************ */
/* About us CSS */
/* ************ */
.aboutHeader {
    padding-top: 5rem;
}

.aboutTitle {
    text-align: center; 
    padding-top: 1rem;
}

.aboutContent {
    padding-top: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.aboutCard {
    margin: auto;
    width: 40%;
    border: 3px solid black;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* ************ */
/* Content CSS */
/* ************ */

.petContent {
    align-self: center;
    height: auto;
    max-width: 30rem;
    object-fit: cover;
    line-height: 2;
}

.infoPadding {
    padding-left: 2rem;
}

.petTitle {
    font-size: large;
}